*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# CONFIG FILES
/config/config_global.php
/config/config_ucenter.php
/uc_server/data/config.inc.php

# CACHE FILES
data/*
#data/cache/*
#data/log/*
#data/template/*
#data/diy/*
#data/sysdata/*
#data/sendmail.lock
#data/updatetime.lock

/uc_server/data/cache/*
/uc_server/data/view/*

